* {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  /* grid-gap: 1em;
  min-height: 100vh; */
  background: #E5E5E5;
  grid-template-rows: repeat(5, 1fr);
  /* grid-auto-rows: auto; */
}

body {
  font-family: 'Poppins', sans-serif;
}


.nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}
    
img {
  margin-right: 20px;
  cursor: pointer;
}
    
.nav a {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  margin-left: 20px;
}
    
.name {
  font-weight: 700;
  font-size: 41px;
  line-height: 52px;
  margin-top: -30px;
  color: #172b4d;
}

.description {
  font-size: 16px;
  max-width: 700px;
  font-weight: 400;
  padding: 12px 0;
  color: #344563;
  line-height: 23px;
}
    
.connect {
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 12px;
  line-height: 24px;
}
    
.heading-section {
  display: flex;
  background: url(./image/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;
  padding: 114px 24px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 0 0 90px;
}
    
.icons {
  display: flex;
  list-style: none;
}

.section2 {
  width: 327px;
  height: 552px;
  padding: 16px;
  left: 24px;
}

.card5 {
  margin-top: 114px;
  padding: 16px;
  left: 24px;
  border-radius: 16px;
  border: 1px solid #DFE1E6;
  background-color: #ffffff;  
}

.card5 h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
}

.list {
  display: flex;
  margin-top: 12px;
}

.list p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.list li{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
  margin: 0px 12px;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  color: #6070FF;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.tags p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  background: #EBEBFF;
  border-radius: 8px;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  color: #396DF2;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid #396DF2;
  border-radius: 15px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  background: #FFFFFF;    
}

.footer-section {
  margin-top: 190px;
  display: flex;
  padding: 114px 24px;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 90px 0 0;
}

.button {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  color: #396DF2;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid #396DF2;
  border-radius: 15px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  background: #FFFFFF;    
}

.languages {
  margin-top: 70px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

}

.paragraph img {
  width: 24px;
  height: 24px;
  margin-right: 60px;
}

.paragraph {
  display: flex;
  justify-content: space-between;
}

.language {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.javascript {
  margin: 5px 0;
  width: 303px;
  height: 66.72px;
  background: #F7F7F9;
  border-radius: 8px;
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  align-items: center;
}

.javascript img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 15px;
  border: 1px solid white;
}

.framework {
  width: 303px;
  height: 66.72px;
  border-bottom: 1px solid #DFE1E6;;
  display: flex;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  margin-top: 18px;
  color: black;
  align-items: center;
  justify-content: space-between;
}

.framework img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 37px;
  border: 1px solid white;
}


.footer {
  background: url(./image/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;
  padding: 114px 24px;
  width: 327px;
  height: 709.17px;
  left: 153px;
  top: 4652px;  
  background-color: #6070FF;
  border-radius: 90px 0 0 0;
}

.footer h4 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 37px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.footer p {
left: 24px;
color: #ffffff;
font-family: 'Poppins';
font-weight: 300;
font-size: 20px;
text-align: center;
}

#name {
  margin-top: 100px;
}

.footer-end {
  background-color: white;
}

.input {
  margin-top: 50px;
}

input {
  width: 320px;
  height: 48px;
  outline: none;
  margin: 10px 0;
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
}

textarea {
  width: 300px;
  height: 170px;
  outline: none;
  margin: 10px 0;
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
  color: #B3BAC5;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  color: #396DF2;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid #396DF2;
  border-radius: 15px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  background: #FFFFFF; 
}

.footer img {
  margin: 0 95px;
  margin-top: 60px;
}



    