* {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-items: center;
}

.wrapper {
  display: grid;
  background: #e5e5e5;
  grid-template-rows: repeat(1, 1fr);
}

body {
  font-family: "Poppins", sans-serif;
}

.nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

img {
  margin-right: 20px;
  cursor: pointer;
}

nav a {
  color: #172b4d;
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
}

.mob-nav a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 65px;
  color: #2230d2;
}

.nav a {
  font-weight: 700;
  color: #6070ff;
  transform: scale(1);
  margin-left: 20px;
  cursor: pointer;
}

.nav a:hover {
  transform: rotate(363deg);
  color: #2230d2;
}

nav ul {
  display: none;
}

#option-head {
  display: none;
}

#colr a {
  color: #fff;
}

#colr2 a {
  color: #fff;
}

#colr3 a {
  color: #fff;
}

.mob-nav-container {
  width: 100%;
  height: 100vh;
  top: 0;
  backdrop-filter: blur(8px);
  background-color: rgba(17, 24, 218, 0.605);
  position: fixed;
  display: none;
  padding-top: 50px;
}

.mob-nav-container.Show {
  display: flex;
}

.mob-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.mob-navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cancel {
  display: none;
  margin-right: 15px;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 18px;
  right: 8px;
}

.name {
  font-weight: 700;
  font-size: 41px;
  line-height: 52px;
  margin-top: -30px;
  color: #172b4d;
}

.description {
  font-size: 16px;
  max-width: 700px;
  font-weight: 400;
  padding: 12px 0;
  color: #344563;
  line-height: 23px;
}

.connect {
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 12px;
  line-height: 24px;
}

.heading-section {
  display: flex;
  background: url(./image/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;
  padding: 114px 24px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 0 0 90px;
}

.icons {
  display: flex;
  list-style: none;
}

.section2 {
  width: 327px;
  height: 552px;
  padding: 16px;
  left: 24px;
  margin-top: 60px;
}

.card5 {
  margin-top: 114px;
  padding: 16px;
  left: 24px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
}

.card5 h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.canopy {
  list-style: none;
  color: #344563;
}

.list {
  display: flex;
  margin-top: 12px;
}

.list2 {
  display: none;
}

.list p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.list li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin: 0 12px;
}

.liststyle {
  color: #7a869a;
}

.tags {
  display: block;
  align-items: center;
  padding: 0;
  gap: 8px;
  color: #6070ff;
}

.tags p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 10px 10px;
  float: left;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  color: #396df2;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid #396df2;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  background: #fff;
}

.footer-section {
  margin-top: 190px;
  display: flex;
  padding: 114px 24px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 90px 0 0;
}

.button {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  color: #396df2;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid #396df2;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  background: #fff;
}

.languages {
  margin-top: 70px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.paragraph img {
  width: 24px;
  height: 24px;
  margin-right: 60px;
}

.paragraph {
  display: flex;
  justify-content: space-between;
}

.language {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.javascript {
  margin: 5px 0;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  align-items: center;
}

.javascript img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 15px;
  border: 1px solid white;
}

.framework {
  width: 303px;
  height: 66.72px;
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 18px;
  color: black;
  align-items: center;
  justify-content: space-between;
}

.framework img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 37px;
  border: 1px solid white;
}

.footer {
  background: url(./image/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;
  padding: 114px 24px;
  height: 709.17px;
  left: 153px;
  top: 4652px;
  background-color: #6070ff;
  border-radius: 90px 0 0 0;
}

.footer h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.footer p {
  left: 24px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

#name {
  margin-top: 100px;
}

.footer-end {
  background-color: #fff;
}

.input {
  margin-top: 50px;
}

input {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: 17px;
  outline: none;
  margin: 10px 0;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

input::placeholder {
  color: #172b4e;
}

textarea {
  width: 300px;
  height: 170px;
  outline: none;
  margin: 10px 0;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  color: #b3bac5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
}

.getbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  color: #396df2;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid #396df2;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  background: #fff;
}

.footer img {
  margin: 0 95px;
  margin-top: 40px;
}

footer {
  display: flex;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .section {
    width: 100%;
    height: 650px;
    background-color: #fff;
    border-radius: 0 0 0 140px;
  }

  ul {
    list-style: none;
  }

  nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav img {
    display: none;
  }

  .nav a {
    margin-left: 50px;
    font-size: 18px;
    font-weight: 700;
  }

  nav ul {
    display: flex;
    margin-right: 40px;
  }

  nav li {
    margin: 15px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .heading-section {
    height: 20%;
    position: absolute;
    background: url(./image/Header\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
    left: 40px;
  }

  .name,
  .description1,
  .connect,
  .icons {
    display: flex;
    margin-left: 50px;
  }

  .name {
    margin-top: 50px;
    line-height: 60px;
    font-size: 48px;
  }

  .description1 {
    width: 80%;
    line-height: 28px;
    word-wrap: break-word;
  }

  .connect {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
  }

  .card5 {
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .section2 {
    width: 95.4%;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card5 img {
    width: 50%;
    height: 100%;
    transform: scale(1);
    transition: all 350ms;
  }

  .javascript img {
    margin: 10px;
  }

  .card5 img:hover {
    transform: scale(0.9);
  }

  .allcard {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .allcard h4 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 30px;
  }

  .liststyle {
    list-style: disc;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
  }

  .description {
    width: 100%;
    word-wrap: break-word;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 24px;
    margin-left: 10px;
  }

  #description3,
  #description4 {
    width: 96%;
    word-wrap: break-word;
  }

  #flexdirection,
  #flexdirection2 {
    display: flex;
    flex-direction: row-reverse;
  }

  #list,
  #list2 {
    display: none;
  }

  .list2 {
    display: flex;
  }

  .list2 li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    margin: 0 12px;
    margin-top: 15px;
  }

  .list2,
  .facebook li {
    font-weight: 500;
    color: #344563;
    line-height: 52px;
  }

  .tags {
    margin-top: -20px;
  }

  #tags {
    margin-top: 10px;
  }

  .uber {
    margin-left: 10px;
  }

  .tonic {
    margin-left: 10px;
  }

  button {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    margin-top: 10px;
    margin-left: 10px;
    transform: scale(1);
    transition: all 350ms;
  }

  button:hover {
    transform: scale(1.08);
    background: #6070ff;
    color: #fff;
  }

  .footer-section {
    margin-top: 100px;
    height: 40rem;
    display: flex;
    flex-direction: row;
  }

  .footer_name {
    width: 40%;
    display: flex;
    margin: 40px;
    flex-direction: column;
  }

  #name2 {
    margin: 10px;
  }

  .footer_name h4 {
    margin: 5px 10px;
  }

  .footer_name ul {
    margin: 10px;
  }

  .footer_languages {
    width: 60%;
  }

  .programs {
    display: flex;
    margin-top: 30px;
  }

  .programs li {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .javascript p {
    margin-left: 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .framework {
    width: 90%;
  }

  .footer-end {
    width: 100%;
    margin-top: -5.5rem;
    border-radius: 90px 0 0 0;
    background-color: #6070ff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer {
    background: url(./image/formbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-color: #6070ff;
  }

  .footer-end h4 {
    margin-top: 30px;
    transform: scale(1);
    cursor: pointer;
  }

  .footer-end h4:hover {
    transform: scale(1.09);
    color: #091e42;
  }

  .footer-end p {
    width: 569px;
    text-align: center;
  }

  .footer-end p:hover {
    transform: translate(10px, 10px);
  }

  input {
    display: flex;
    width: 430px;
    height: 40px;
    flex-direction: column;
  }

  .mob-navbar {
    display: none;
  }

  #option-head {
    display: flex;
  }

  textarea {
    width: 430px;
  }

  .input {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer-end button {
    width: 150px;
    height: 50px;
    margin-left: 56px;
    transform: scale(1);
    transition: all 350ms;
    cursor: pointer;
  }

  .footer-end button:hover {
    transform: scale(1.08);
    background: #2230d2;
    color: #fff;
  }
}
